<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acasa</title>
    <link rel="stylesheet" href="/css/dark-style.css">
</head>
<body>
    <h1>SC CONST PETER SRL</h1>

    <div class="buttons">
        <a href="/acasa">Acasa</a>
        <a href="/catalog">Catalog</a>
        <a href="/contact">Contact</a>
    </div>

    <p th:text="${welcomeMessage}"></p>
	<p th:text="${description}"></p>

    <footer>
        &copy; 2024 SC CONST PETER SRL. All rights reserved.
    </footer>
</body>
</html>