<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalog</title>
    <link rel="stylesheet" href="/css/dark-style.css">
</head>
<body>
    <h1>Catalog</h1>

    <div class="buttons">
        <a href="/acasa">Acasa</a>
        <a href="/catalog">Catalog</a>
        <a href="/contact">Contact</a>
    </div>

    <div class="product-list">
        <h2>Produsele noastre</h2>
        <div th:each="produs : ${products}">
            <h3 th:text="${produs.name}"></h3>
            <p><strong>Price:</strong> <span th:text="${produs.price}"></span> EUR</p>
            <p><strong>Average Completion Time:</strong> <span th:text="${produs.averageCompletionTime}"></span> days</p>
            <img th:src="@{'/images/' + ${produs.imagePath}}" alt="Product Image" />
        </div>
    </div>

    <footer>
        &copy; 2024 SC CONST PETER SRL. All rights reserved.
    </footer>
</body>
</html>